{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 1
      }
    }
  ]
}
