<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for scanning barcodes and QR codes.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Bytes</ion-label>
          <ion-input formControlName="bytes"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Corner Points</ion-label>
          <ion-input formControlName="cornerPoints"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Display Value</ion-label>
          <ion-input formControlName="displayValue"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Format</ion-label>
          <ion-input formControlName="format"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Raw Value</ion-label>
          <ion-input formControlName="rawValue"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Value Type</ion-label>
          <ion-input formControlName="valueType"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="startScan()">Start Scan</ion-button>
        <ion-button expand="block" (click)="scan()">Scan</ion-button>
        <ion-button expand="block" (click)="readBarcodeFromImage()"
          >Read Barcode From Image</ion-button
        >
        <ion-button expand="block" (click)="requestPermissions()"
          >Request Permissions</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
