<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>PostHog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for integrating with PostHog.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="alias()">Alias</ion-button>
      <ion-button expand="block" (click)="capture()">Capture</ion-button>
      <ion-button expand="block" (click)="flush()">Flush</ion-button>
      <ion-button expand="block" (click)="identify()">Identify</ion-button>
      <ion-button expand="block" (click)="register()">Register</ion-button>
      <ion-button expand="block" (click)="reset()">Reset</ion-button>
      <ion-button expand="block" (click)="screen()">Screen</ion-button>
      <ion-button expand="block" (click)="setup()">Setup</ion-button>
      <ion-button expand="block" (click)="unregister()">Unregister</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
