<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin to access and update the badge number of the app
      icon.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Count</ion-label>
          <ion-input
            formControlName="count"
            type="number"
            [disabled]="!isSupported"
          ></ion-input>
        </ion-item>
      </form>
      <ion-button expand="block" (click)="setBadgeCount()">Set</ion-button>
      <ion-button expand="block" (click)="clearBadgeCount()">Clear</ion-button>
      <ion-button expand="block" (click)="increaseBadgeCount()"
        >Increase</ion-button
      >
      <ion-button expand="block" (click)="decreaseBadgeCount()"
        >Decrease</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
