<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Live Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin to update your app remotely in realtime.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-input formControlName="bundleId" label="Bundle ID" type="string">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="openSelectBundleAlert()">
            <ion-icon slot="icon-only" name="chevron-expand-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="channel"
            label="Channel"
            type="string"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="customId"
            label="Custom ID"
            type="string"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="downloadUrl"
            label="Download URL"
            type="string"
          ></ion-input>
        </ion-item>
      </form>
      <ion-button expand="block" (click)="deleteBundle()"
        >Delete Bundle</ion-button
      >
      <ion-button expand="block" (click)="downloadBundle()"
        >Download Bundle</ion-button
      >
      <ion-button expand="block" (click)="getBundles()">Get Bundles</ion-button>
      <ion-button expand="block" (click)="getChannel()">Get Channel</ion-button>
      <ion-button expand="block" (click)="getCurrentBundle()"
        >Get Current Bundle</ion-button
      >
      <ion-button expand="block" (click)="getCustomId()"
        >Get Custom ID</ion-button
      >
      <ion-button expand="block" (click)="getDeviceId()"
        >Get Device ID</ion-button
      >
      <ion-button expand="block" (click)="getVersionCode()"
        >Get Version Code</ion-button
      >
      <ion-button expand="block" (click)="getVersionName()"
        >Get Version Name</ion-button
      >
      <ion-button expand="block" (click)="ready()">Ready</ion-button>
      <ion-button expand="block" (click)="reload()">Reload</ion-button>
      <ion-button expand="block" (click)="reset()">Reset</ion-button>
      <ion-button expand="block" (click)="setChannel()">Set Channel</ion-button>
      <ion-button expand="block" (click)="setCustomId()"
        >Set Custom ID</ion-button
      >
      <ion-button expand="block" (click)="setNextBundle()"
        >Set Next Bundle</ion-button
      >
      <ion-button expand="block" (click)="sync()">Sync</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
