<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Text To Speech</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for synthesizing speech from text.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Text</ion-label>
          <ion-input
            formControlName="text"
            type="text"
            placeholder="Text to speak"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Locale</ion-label>
          <ion-select formControlName="locale">
            <ion-select-option *ngFor="let lang of supportedLanguages" [value]="lang">{{ lang }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Speech rate</ion-label>
          <ion-input
            formControlName="speechRate"
            type="number"
            step="0.1"
            min="0.1"
            (ionChange)="onSpeechRateChange($event)"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Pitch rate</ion-label>
          <ion-input
            formControlName="pitchRate"
            type="number"
            step="0.1"
            min="0.1"
            (ionChange)="onPitchRateChange($event)"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Volume</ion-label>
          <ion-input formControlName="volume" type="number" min="0" max="1" step="0.1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Voice</ion-label>
          <ion-select formControlName="voice">
            <ion-select-option *ngFor="let voice of supportedVoices" [value]="voice.voiceURI">{{ voice.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select formControlName="category">
            <ion-select-option value="ambient">Ambient</ion-select-option>
            <ion-select-option value="playback">Playback</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
      <ion-button expand="block" (click)="speak()">Speak</ion-button>
      <ion-button expand="block" (click)="stop()">Stop</ion-button>
      <ion-button expand="block" (click)="openInstall()">Install</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
