<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Firebase App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for Firebase App.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input type="text" readonly [value]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">API Key</ion-label>
        <ion-input type="text" readonly [value]="apiKey"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Application ID</ion-label>
        <ion-input type="text" readonly [value]="applicationId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Database URL</ion-label>
        <ion-input type="text" readonly [value]="databaseUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">GCM Sender ID</ion-label>
        <ion-input type="text" readonly [value]="gcmSenderId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Project ID</ion-label>
        <ion-input type="text" readonly [value]="projectId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Storage Bucket</ion-label>
        <ion-input type="text" readonly [value]="storageBucket"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
