<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>File Picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin that allows the user to select a file.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Types</ion-label>
          <ion-select
            multiple="true"
            placeholder="Types"
            formControlName="types"
          >
            <ion-select-option value="audio/aac">audio/aac</ion-select-option>
            <ion-select-option value="application/pdf"
              >application/pdf</ion-select-option
            >
            <ion-select-option value="image/jpeg">image/jpeg</ion-select-option>
            <ion-select-option value="image/png">image/png</ion-select-option>
            <ion-select-option value="text/csv">text/csv</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Mulitple</ion-label>
          <ion-checkbox formControlName="multiple"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Read data</ion-label>
          <ion-checkbox formControlName="readData"></ion-checkbox>
        </ion-item>
      </form>
      <ion-button expand="block" (click)="pickFile()">Pick Files</ion-button>
      <ion-button expand="block" (click)="pickImages()">Pick Images</ion-button>
      <ion-button expand="block" (click)="pickMedia()">Pick Media</ion-button>
      <ion-button expand="block" (click)="pickVideos()">Pick Videos</ion-button>
    </ion-card-content>
  </ion-card>

  <ng-container *ngFor="let file of files">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="fixed">Name</ion-label>
          <ion-input type="text" readonly [value]="file.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Path</ion-label>
          <ion-input type="text" readonly [value]="file.path"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Mime Type</ion-label>
          <ion-input type="text" readonly [value]="file.mimeType"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Size</ion-label>
          <ion-input type="text" readonly [value]="file.size"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Data</ion-label>
          <ion-input type="text" readonly [value]="file.data"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Duration</ion-label>
          <ion-input type="text" readonly [value]="file.duration"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Height</ion-label>
          <ion-input type="text" readonly [value]="file.height"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Width</ion-label>
          <ion-input type="text" readonly [value]="file.width"></ion-input>
        </ion-item>
        <img *ngIf="file.path" [src]="convertPathToWebPath(file.path)" />
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
