<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>App Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin that assists with app updates.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          label="Available App Version"
          type="text"
          readonly
          [value]="appUpdateInfo?.availableVersionCode || appUpdateInfo?.availableVersionName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Available Version Release Date"
          type="text"
          readonly
          [value]="appUpdateInfo?.availableVersionReleaseDate"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Current App Version"
          type="text"
          readonly
          [value]="appUpdateInfo?.currentVersionCode || appUpdateInfo?.currentVersionName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox readonly [checked]="appUpdateInfo?.flexibleUpdateAllowed"
          >Flexbile Update Allowed</ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-checkbox readonly [checked]="appUpdateInfo?.immediateUpdateAllowed"
          >Immediate Update Allowed</ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-input
          label="Update Availability"
          type="number"
          readonly
          [value]="appUpdateInfo?.updateAvailability"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Update Priority"
          type="number"
          readonly
          [value]="appUpdateInfo?.updatePriority"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Client Version Staleness Days"
          type="number"
          readonly
          [value]="appUpdateInfo?.clientVersionStalenessDays"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Install Status"
          type="number"
          readonly
          [value]="appUpdateInfo?.installStatus"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Minimum OS Version"
          type="text"
          readonly
          [value]="appUpdateInfo?.minimumOsVersion"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="openAppStore()"
        >Open App Store</ion-button
      >
      <ion-button expand="block" (click)="performImmediateUpdate()"
        >Perform Immediate Update</ion-button
      >
      <ion-button expand="block" (click)="startFlexibleUpdate()"
        >Start Flexible Update</ion-button
      >
      <ion-button expand="block" (click)="completeFlexibleUpdate()"
        >Complete Flexible Update</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
